---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
      " \"I worked with Sean on various project involving Marketing Automation strategies, HTML Built, Lead tracking, Forms and database management. He shared meaningful insights and was making the effort to keep up with the latest trends and technologies to guide us towards the best solution. It was easy to communicate with him and he always took the time to explain the technical work when it's needed. Also he's a dog lover, so he's, without a doubt, a great person! \" ",
    author: "Matthieu Malardé",
    role: "Senior Marketing Operations | Convera",
    avatarSrc:
      "https://media.licdn.com/dms/image/C5603AQGQG-AbB1UbMA/profile-displayphoto-shrink_400_400/0/1517527010652?e=1725494400&v=beta&t=W_L2-Olsx_s4brW1_1gb-4H42UrBCqSnQH-vmWNyGdQ",
    avatarAlt: "Matthieu Malardé",
  },
  // Second testimonial data
    {
    content:
      " \"Sean created a website for me for a personal project. The site was fairly complex, with a gallery and even an e-commerce integration. I provided relatively little in terms of direction (no mockups or anything either) and he was able to fill in all the blanks for me and develop/launch the full site in less than 48 hours. He was also extremely responsive in helping whenever I needed a tweak or bugfix. I will definitely reach back out to Sean next time I have a project! \" ",
    author: "Matt Woodruff",
    role: "Co-Founder & Chief Product Officer | Constellation",
    avatarSrc:
      "https://media.licdn.com/dms/image/C5603AQGvDJFusYeLhw/profile-displayphoto-shrink_100_100/0/1516341263124?e=1725494400&v=beta&t=_L6ur-7BzmvHn5TpfKAe47cf8AHUsTPRd6YfsqlCujw",
    avatarAlt: "Matt Woodruff",
  },
  // Third testimonial data
    {
    content:
      " \"Sean was incredible to work with when I needed to launch a website with a quick turn around. I had a vision in my head on what I wanted to create and he more than delivered! I highly recommend working with him. He’s creative, attentive to detail, and gets work done in a timely fashion!\" ",
    author: "Rachel Covello",
    role: "Publisher | Outcoast",
    avatarSrc:
      "https://media.licdn.com/dms/image/D4E03AQFNERc8K7qf7Q/profile-displayphoto-shrink_100_100/0/1718163642617?e=1725494400&v=beta&t=WfuzrewESpMUqZ-nvbY2MLQ9iKKiXvpBHCofbLlVwms",
    avatarAlt: "Rachel Covello",
  },
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Equip Your Projects with <span
        class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>`
    subTitle="Top-quality hardware tools and expert construction services for every project need."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />


  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "Empower your projects with ScrewFast's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />


  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Get in touch to see how we can grow your business with the right digital strategy."
    url="/contact"
  />
</MainLayout>
